/*
Miguel E. Quevedo H.
**/
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: inline-flex;
    overflow: hidden;
}
aside{
    height: 100%;
}

.project .thumbs img{
    height: 28px;
}
.project .card-header{
    padding: 0.2rem 1rem ;
}
.card-header, .card-footer{
    background-color: white;
}
.project .card-footer{
   min-height: 52px;
    padding: 0.2rem;
}

.project .card-footer div > * {
   margin: auto;
    font-size: 1.2rem;
}
.project .card-footer  i:hover{
    font-size: 1.5rem;
}

div#thumbnails > div {
    text-align: center;
    margin-bottom: 4rem;
}

#sidebar-wrapper{
    color: white;
}

.item-lv2 {
    padding-left: 8px;
    background-color: #01055d;
}