<h6>Ficha</h6>
<hr>
<div class="row">
    <div class="col-6">
        <div class="form-group row mb-1" >
            <label class=" col-3 text-right">Estatus:</label>
            <span class="col-9 text-left">{{model.status}}</span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row mb-1" >
            <label class=" col-3 text-right">Fecha:</label>
            <span class="col-9 text-left">{{model.date}}</span>
        </div>
    </div>
</div>
<h6 ng-if="model.descrip">Descripcion</h6>
<div class="row" ng-if="model.descrip">
    <div class="col-12">
        <p >{{model.descrip}}</p>
    </div>
</div>